@model MVCProject1.Models.Product
<div class="row">
    <div class="col-9">
        
        <h2 class="text-primary">List of Datewise Order</h2>
    </div>


</div>
<br />
<br />
<table id="tblData" class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Name</th>
            <th>Order Status</th>
            <th>Order Date</th>
            <th>OrderTotal</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
@section scripts
    {
    <script src="~/js/datewise.js"></script>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           .js"></script>
    }